
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<Center>Welcome to User Registration Portal</Center>
	<br><br>
	<form method="get" action="/registerationPage">
	<center>	<button>Click me to Register!</button></center>
	 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
	<br></br>
	<form method="get" action="users">
	<center>	<button>Login to view users!</button></center>
	 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
	<center><font sty]e="color:ref;">Note: only admin users will be able to view User.</font></center>
</body>
</html>