
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form method="get" action="/logout">
		<button>Logout</button>
	 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
<form method="get" action="users">
		<button>View Registered Users</button>
	 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
	<Center>Welcome User! You are login successfully!</Center>
</body>
</html>